body {
  padding-top: 20px;
}

h1{
  background-color: tomato;
  text-align: center;
  color: #00FFFF;
  text-transform: uppercase;
  text-decoration: underline overline;
  padding: 5px;  
  text-shadow: 5px 5px green ;
  font-family: sans-serif;
  letter-spacing: 0.5em;
  word-spacing: 1cm;
  font-weight: bold;
  line-height: 2em;
}
p{
  background-color: greenyellow;
  font-size: 2em;
  font-family: "Courier New", consolas;
  color: navy;
  text-align: justify;
  text-transform: capitalize ;
  text-indent: 1in;
  word-spacing: -5px;
  line-height: 1.5em;
}
